@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Geist Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
  /* Light gray base */
  background-image:
    radial-gradient(at 0% 0%, rgba(167, 243, 208, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(165, 180, 252, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(253, 164, 175, 0.3) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(196, 181, 253, 0.3) 0px, transparent 50%);
  background-attachment: fixed;
}

.dark body {
  background-color: #111827;
  /* Dark gray base */
  background-image:
    radial-gradient(at 0% 0%, rgba(16, 185, 129, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(99, 102, 241, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(244, 63, 94, 0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(139, 92, 246, 0.1) 0px, transparent 50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}